[Unit]
Description=the house Wiz device control service
After=network-online.target houseportal.service

[Service]
EnvironmentFile=-/etc/default/housewiz
EnvironmentFile=-/etc/sysconfig/housewiz
ExecStart=/usr/local/bin/housewiz $OPTS

[Install]
WantedBy=multi-user.target

